body {
	text-align: center;
	font-family: Helvetica;
}

#header {
	background-image: url("../images/the-flatiron-building.png");
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px
}

a {
	color: white;
}

#header a {
	font-size: 18px;
}

#footer p {
	font-size: 11px;
	text-align: left;
	color: white;
	background-color: dimgray;
}

.design {
	color: white;
	background-image: url("../images/the-flatiron-building.png");
}
